<h2>Stupid Coaching</h2>
<form action="answer" data-turbo="false" class="input-group">
  <input type="text" name="question" placeholder="Ask a question!" class="form-control">
  <input type="submit" value="Ask!" class="btn btn-lg btn-primary">
</form>

